.App {
  text-align: center;
  background-color: skyblue;
  padding: 10px;
}
.App button{
  text-align: center;
  width: 100px;
  font-size: large;
  margin: 10px;
  padding: 10px;
}
.night{
  background-color: midnightblue;
  color: white;
}

