.box{
       width: 500px;
    margin: auto!important;
    text-align: center;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.head{
    display: inline-block;
}
.transctionList{
    margin: 0;
}
.transctionList > li{
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    margin: 10px;
    padding: 10px ;
    justify-content: space-between;
}
.infoBox{
    
    height: 150px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}