.box{
       width: 500px;
   

    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.head{
    font-size: 20px;
    font-weight: 700; 
}
.transctionList{
    margin: 0;
}
.transctionList > li{
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px ;
    justify-content: space-between;
}
.infoBox{
      
    min-height: 100px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading{
    font-family: 'Galada', cursive;

}
.balance{
    font-size: 20px;
    font-weight: 700;
    text-align: left!important;
}
.Listexp{
    color: red;
}
.Listinc{
    color: limegreen;
}
.modeBtn{
    float: right;

}
